{% extends "main/base.html" %}

{% block title %}
Savatcha
{% endblock title %}

{% block content %}

<style>
  .container1 {
    margin-top: 2em;
    margin-bottom: 25px;
    padding-bottom: 70px;
  }

  .card {
    max-width: 30em;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2em auto;
  }

  .card img {
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
    border-radius: 8px;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-section {
    max-width: 60%;
  }

  .cta-section {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .cta-section .btn {
    padding: 0.4em 0.8em;
    border-radius: 8px;
    margin-top: 0.5em;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
  }

  .summary-section {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    margin-bottom: 10px;
  }

  .summary-section h4, .summary-section p {
    margin-bottom: 0.5em;
  }

  .summary-section .fw-bold {
    font-weight: bold;
  }

  .summary-section .small {
    font-size: 0.875em;
  }

  @media screen and (max-width: 475px) {
    .card {
      font-size: 0.9em;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-icon {
    font-size: 1.5em;
  }
</style>

<div class="summary-section text-center">
  <hr class="mt-2 mb-4"
    style="height: 0; background-color: transparent; opacity: .75; border-top: 2px dashed #9e9e9e;">
    <h4>Stol {% if table.name %}{{table.name}}{% else %}#{{table.number}}{% endif %}</h4>

  <div class="d-flex justify-content-between pb-1">
      <p class="small">Xizmat haqi {% if kitchen.service_fee_text %}({% if kitchen.service_fee_text == '%' %}{{ kitchen.service_fee_amount }} %{% else %}{{ kitchen.service_fee_text }}{% endif %}){% endif %}:</p>
      <form action="{% url "orders:make_order" %}" method="post"> {% csrf_token %}
        {% if request.user.kitchen.id == kitchen.id and request.user.kitchen.service_fee_text != "%" %}
        <input type="hidden" name="kitchen_id" value="{{ kitchen.id }}">
        <div class="form-group">
            <input type="number" step="1000" pattern="[0-9]*" class="form-control" id="service_fee_amount" name="service_fee_amount" value="{{ kitchen.service_fee_amount }}">
        </div>
      {% else %}
      <p class="small" id="service-fee">{% if kitchen.service_fee_amount %}{{ service_fee_amount }} so'm {% else %} bepul {% endif %}</p>
      {% endif %}
  </div>

  <div class="d-flex justify-content-between">
    <p class="fw-bold">Jami narx:</p>
    <div class="text-right"> <!-- Added class text-right -->
      <p class="fw-bold" id="total-price">{{ cart.get_total_products_price }} so'm</p>
    </div>
  </div>
  {% if kitchen.service_fee_amount %}
  <span class="text-danger small text-right">*Xizmat haqi alohida</span>
  {% endif %}

  <div class="button-container">
      <input type="hidden" name="kitchen_id" value="{{ kitchen.id }}">
      {% if get_orders or request.user.kitchen.id == kitchen.id%}
      <button type="submit" class="btn btn-primary">Buyurtma berish <i class="fas fa-check-square"></i></button>
      {% else %}
      <p class="text-danger"></p>
      {% endif %}
      <button type="button" class="btn btn-danger" onclick="clearCart()"><i class="fas fa-trash"></i></button>
    </form> <!-- Closing the form tag here -->
  </div>
</div>

<div class="container container1">
  {% for item in cart %}
  <div class="card item" id="cart-item-{{ item.product_id }}">
    <img src="{{ item.image }}" class="card-img-top" alt="{{ item.name }}">
    <div class="card-body">
      <div class="text-section">
        <h5 class="card-title">{{ item.name }}</h5>
        <div class="input-group">
          <button class="btn btn-outline-secondary remove-from-cart" onclick="removeFromCart('{{ item.product_id }}')">-</button>
          <input id="quantity-{{ item.product_id }}" type="text" class="form-control text-center" value="{{ item.quantity }}" aria-label="Quantity" readonly>
          <button class="btn btn-outline-secondary add-to-cart" onclick="addToCart('{{ item.product_id }}')">+</button>
        </div>
      </div>
      <div class="cta-section">
        <div id="price-{{ item.product_id }}">{{ item.quantity }} x {{ item.price }} = {{ item.total_price }} so'm</div>
        <button class="btn btn-light" onclick="deleteItem('{{ item.product_id }}')"><i class="fas fa-trash text-danger"></i></button>
      </div>
    </div>
  </div>
  {% empty %}
  <h3 class="text-center">Siz tanlagan taomlar shu yerda ko'rinadi</h3>
  {% endfor %}
</div>

<nav class="navbar fixed-bottom bottom-navbar navbar-expand-lg navbar-light bg-light pt-0">
  <div class="container-fluid">
    <a class="nav-link" href="{% url "main:menu" kitchen.slug %}"><i class="fas fa-home navbar-icon"></i><span class="d-none d-lg-inline">Kategoriyalar</span></a>
    <a class="nav-link" href="{% url "main:foods" kitchen.slug %}"><i class="fas fa-utensils navbar-icon"></i><span class="d-none d-lg-inline"> Taomlar</span></a>
    <a class="nav-link" href="{% url 'cart:cart' kitchen.id %}"><i class="fas fa-shopping-cart navbar-icon"></i><span class="d-none d-lg-inline"> Savatcha</span></a>
    <a class="nav-link" href="{% url "main:kitchen_info" kitchen.slug %}"><i class="fas fa-info-circle navbar-icon"></i><span class="d-none d-lg-inline">Ma'lumot</span></a>
    <a class="nav-link" href="{% url "review:kitchen" kitchen.id %}"><i class="fas fa-comments navbar-icon"></i><span class="d-none d-lg-inline"> Sharhlar</span></a>
  </div>
</nav>

<script>
  function formatPrice(price) {
    const parts = price.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    return parts.join(".");
  }

  function addToCart(productId) {
    $.ajax({
      url: '{% url "cart:add_cart" %}',
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      contentType: 'application/json',
      data: JSON.stringify({ product_id: productId, kitchen_id: {{ kitchen.id }} }),
      success: function(response) {
        $('#quantity-' + productId).val(response.cart[productId].quantity);
        $('#price-' + productId).text(formatPrice(response.cart[productId].quantity * response.cart[productId].price) + ' so\'m');
        $('#total-price').text(formatPrice(response.total_price) + ' so\'m');
      },
      error: function(xhr, status, error) {
        console.error('Failed to add product to cart:', error);
      }
    });
  }

  function removeFromCart(productId) {
    $.ajax({
      url: '{% url "cart:decrement_cart" %}',
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      contentType: 'application/json',
      data: JSON.stringify({ product_id: productId, kitchen_id: {{ kitchen.id }} }),
      success: function(response) {
        if (!response.cart[productId]) {
          $('#cart-item-' + productId).remove();
        } else {
          $('#quantity-' + productId).val(response.cart[productId].quantity);
          $('#price-' + productId).text(formatPrice(response.cart[productId].quantity * response.cart[productId].price) + ' so\'m');
        }
        $('#total-price').text(formatPrice(response.total_price) + ' so\'m');
      },
      error: function(xhr, status, error) {
        console.error('Failed to remove product from cart:', error);
      }
    });
  }

  function deleteItem(productId) {
    $.ajax({
      url: '{% url "cart:remove_cart" %}',
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      contentType: 'application/json',
      data: JSON.stringify({ product_id: productId, kitchen_id: {{ kitchen.id }} }),
      success: function(response) {
        $('#cart-item-' + productId).remove();
        $('#total-price').text(formatPrice(response.total_price) + ' so\'m');
      },
      error: function(xhr, status, error) {
        console.error('Failed to remove product from cart:', error);
      }
    });
  }

  function clearCart() {
    $.ajax({
      url: '{% url "cart:clear_cart" %}',
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      contentType: 'application/json',
      data: JSON.stringify({ kitchen_id: {{ kitchen.id }} }),
      success: function(response) {
        $('.item').remove();
        $('#total-price').text(formatPrice(0) + ' so\'m');
      },
      error: function(xhr, status, error) {
        console.error('Failed to clear cart:', error);
      }
    });
    $('#total-price').text('0 so\'m');
  }

  $(document).ready(function() {
    var initialTotalPrice = $('#total-price').text().trim();
    $('#total-price').text(formatPrice(initialTotalPrice));

    $('.item').each(function() {
      var productId = $(this).attr('id').split('-')[2];
      var initialItemPrice = $('#price-' + productId).text().trim().split('=')[1];
      $('#price-' + productId).text(formatPrice(initialItemPrice));
    });
  });

  {% comment %} Keyinchalik xatolik chiqish mumkin {% endcomment %}
  $(document).ready(function() {
    var initialTotalPrice = parseFloat($('#total-price').text().trim().replace(' so\'m', '').replace(/\s/g, ''));
    var serviceFeeText = '{{ kitchen.service_fee_text }}';

    function calculateServiceFee(totalPrice) {
        var serviceFeeAmount = {{ kitchen.service_fee_amount }};
        if (serviceFeeText === '%') {
            return (totalPrice * serviceFeeAmount / 100).toFixed(0);
        } else {
            return serviceFeeAmount.toFixed(2);
        }
    }

    function updateServiceFee(totalPrice) {
        var serviceFeeAmount = calculateServiceFee(totalPrice);
        if (serviceFeeAmount == 0){
          $('#service-fee').text(formatPrice('bepul'));
        } else {
          $('#service-fee').text(formatPrice(serviceFeeAmount) + ' so\'m');
        }
    }

    updateServiceFee(initialTotalPrice);

    // Listen for changes in the total price
    $('#total-price').on('DOMSubtreeModified', function() {
        var newTotalPrice = parseFloat($(this).text().trim().replace(' so\'m', '').replace(/\s/g, ''));
        updateServiceFee(newTotalPrice);
    });
});
  
</script>

{% endblock content %}
