{% extends "main/base.html" %}
{% load static %}
{% load dict_key %}
{% load get_quantity %}
{% block title %}
Menu
{% endblock title %}

{% block content %}
<style>
  /* Custom styles */
  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .category-section {
    padding-top: 80px;
  }

  .nav-link {
    white-space: nowrap;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
  }

  .nav-link:hover {
    color: #333;
    background-color: #f0f0f0;
  }

  .nav-link.active {
    background-color: #6f42c1; /* Update this color to match your design */
    color: #fff;
    border: 2px solid #6f42c1; /* Update this color to match your design */
  }

  a {
    text-decoration: none;
  }

  /* Improved Card Styles */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s ease;
  }

  .card-img-top {
    height: 200px; /* Set a fixed height for the card images */
    object-fit: cover; /* Ensure the images cover the entire space */
  }

  .card-image img {
    max-width: 100%;
    border-radius: 8px 0 0 8px;
    height: 200px;
    object-fit: cover;
  }

  .card-details {
    padding: 20px;
    flex-grow: 1;
  }

  .card-heading {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 16px;
    color: #636262;
    margin-bottom: 20px;
  }

  .quantity-counter {
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  .quantity-control-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ff6b6b;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .quantity-control-btn:hover {
    background-color: #ff6b6b;
  }

  .quantity {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  .m-100 {
    margin-bottom: 100px;
  }
</style>

<nav class="container mb-3 sticky-nav">
  <ul id="category-nav" class="nav nav-pills justify-content-start flex-nowrap overflow-auto">
    {% for category in categories %}
      {% if category.active_foods %}
        <li class="nav-item">
          <a href="#{{category.slug}}" class="nav-link {% if forloop.first %}active{% endif %}" onclick="scrollToSection('{{category.slug}}')">{{category.title}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<main class="container pb-5 m-00">
  {% for category in categories %}
    {% if category.active_foods %}
      <section id="{{ category.slug }}" class="category-section">
        <h2 class="category-title">{{ category.title }}</h2>
        <div class="container card-container">
          {% for food in category.active_foods %}
            <div class="card card-sl">
              <div class="card-body">
                <img src="{{ food.image.url }}" alt="{{ food.name }}" class="card-img-top">
                <div class="card-body-details">
                  <h5 class="card-title">{{ food.name }}</h5>
                  <p class="card-text"><b>Narxi: {{ food.price }} so'm</b></p>
                  <div class="select-section">
                    {% if cart|dict_key:food.id %}
                      <button class="btn btn-primary quantity-control-btn" data-action="remove" data-product-id="{{ food.id }}" data-kitchen-id="{{ kitchen.id }}">-</button>
                      <span class="quantity">{{ cart|get_quantity:food.id }}</span>
                      <button class="btn btn-primary quantity-control-btn" data-action="add" data-product-id="{{ food.id }}" data-kitchen-id="{{ kitchen.id }}">+</button>
                    {% else %}
                      <button class="btn btn-primary add-to-cart" data-product-id="{{ food.id }}" data-kitchen-id="{{ kitchen.id }}">Savatga qo'shish <i class="fas fa-cart-plus"></i></button>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}
  {% endfor %}
</main>

<nav class="navbar fixed-bottom bottom-navbar navbar-expand-lg navbar-light bg-light pt-0">
  <div class="container-fluid">
    <a class="nav-link" href="{% url 'main:menu' kitchen.slug %}"><i class="fas fa-home navbar-icon"></i><span class="d-none d-lg-inline">Kategoriyalar</span></a>
    <a class="nav-link" href="{% url 'main:foods' kitchen.slug %}"><i class="fas fa-utensils navbar-icon"></i><span class="d-none d-lg-inline"> Taomlar</span></a>
    <a class="nav-link position-relative" href="{% url 'cart:cart' kitchen.id %}">
      <i class="fas fa-shopping-cart navbar-icon"></i><span class="d-none d-lg-inline"> Savatcha</span>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{total_quantity}}
      <span class="visually-hidden">Savatdagi taomlar soni</span>
    </a>
    <a class="nav-link" href="{% url 'main:kitchen_info' kitchen.slug %}"><i class="fas fa-info-circle navbar-icon"></i><span class="d-none d-lg-inline">Ma'lumot</span></a>
    <a class="nav-link" href="{% url 'review:kitchen' kitchen.id %}"><i class="fas fa-comments navbar-icon"></i><span class="d-none d-lg-inline"> Sharhlar</span></a>
  </div>
</nav>

<script>
  $(document).ready(function() {
    $(document).on('click', '.add-to-cart', function(event) {
      event.preventDefault();
      var $button = $(this);
      var productId = $button.data('product-id');
      var kitchenId = $button.data('kitchen-id');

      $.ajax({
        url: '{% url "cart:add_cart" %}',
        method: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        contentType: 'application/json',
        data: JSON.stringify({ product_id: productId, kitchen_id: kitchenId }),
        success: function(response) {
          console.log('Product added to cart successfully!');
          updateCartButton($button, response.cart[productId]);
          updateBadge(response.total_quantity);
        },
        error: function(xhr, status, error) {
          console.error('Failed to add product to cart:', error);
        }
      });
    });

    $(document).on('click', '.quantity-control-btn', function(event) {
      event.preventDefault();
      var $button = $(this);
      var productId = $button.data('product-id');
      var kitchenId = $button.data('kitchen-id');
      var action = $button.data('action');

      $.ajax({
        url: action === 'add' ? '{% url "cart:add_cart" %}' : '{% url "cart:decrement_cart" %}',
        method: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        contentType: 'application/json',
        data: JSON.stringify({ product_id: productId, kitchen_id: kitchenId }),
        success: function(response) {
          console.log('Product quantity updated successfully!', response);
          if (!response.cart[productId]) {
            $button.parent('.select-section').html("<button class='btn btn-primary add-to-cart' data-product-id='" + productId + "' data-kitchen-id='" + kitchenId + "'>Savatga qo'shish <i class='fas fa-cart-plus'></i></button>");
          } else {
            updateQuantity($button, response.cart[productId].quantity);
          }
          updateBadge(response.total_quantity);
        },
        error: function(xhr, status, error) {
          console.error('Failed to update product quantity:', error);
        }
      });
    });

    function updateCartButton($button, item) {
      if (item.quantity > 0) {
        $button.parent('.select-section').html("<button class='btn btn-primary quantity-control-btn' data-action='remove' data-product-id='" + item.product_id + "' data-kitchen-id='" + item.kitchen_id + "'>-</button><span class='quantity'>" + item.quantity + "</span><button class='btn btn-primary quantity-control-btn' data-action='add' data-product-id='" + item.product_id + "' data-kitchen-id='" + item.kitchen_id + "'>+</button>");
      } else {
        $button.replaceWith("<button class='btn btn-primary add-to-cart' data-product-id='" + item.product_id + "' data-kitchen-id='" + item.kitchen_id + "'>Savatga qo'shish <i class='fas fa-cart-plus'></i></button>");
      }
    }

    function updateQuantity($button, quantity) {
      $button.siblings('.quantity').text(quantity);
      var $parent = $button.parent('.select-section');
      if (quantity === 0) {
        console.log("works")
        $parent.find('.quantity-control-btn').remove();
      }
    }

    function updateBadge(cartTotal) {
      $('.badge').text(cartTotal);
    }
  });

  // Function to format prices with space as thousands separator
  function formatPrice(price) {
    return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
  }

  // Format prices on page load
  $('.card-price').each(function() {
    var priceText = $(this).text().trim();
    var priceFormatted = formatPrice(priceText);
    $(this).text(priceFormatted);
  });

  function scrollToSection(sectionId) {
    var section = document.getElementById(sectionId);
    window.scrollTo({
      top: section.offsetTop - 100, // Adjust the offset if needed
      behavior: 'smooth'
    });
  }

  window.addEventListener('scroll', function() {
    var scrollPosition = window.scrollY;
    var sections = document.querySelectorAll('section.category-section');
    
    sections.forEach(function(section) {
      var top = section.offsetTop - 100; // Offsetni mos ravishda o'zgartiring
      var bottom = top + section.offsetHeight;
  
      if (scrollPosition >= top && scrollPosition < bottom) {
        var sectionId = section.getAttribute('id');
        setActiveNavigation(sectionId);
      }
    });
  
    // Sahifaning pastiga tushganligini tekshirish
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      var lastSection = sections[sections.length - 1];
      var lastSectionId = lastSection.getAttribute('id');
      setActiveNavigation(lastSectionId);
    }
  });
  
  function setActiveNavigation(sectionId) {
    var navItems = document.querySelectorAll('#category-nav .nav-link');
    navItems.forEach(function(item) {
      item.classList.remove('active');
      if (item.getAttribute('href').slice(1) === sectionId) {
        item.classList.add('active');
      }
    });
  }
  
  

</script>

{% endblock content %}