{% extends "kitchen/base.html" %}

{% block title %}
Admin Dashboard
{% endblock title %}

{% block content %}

<style>
    .overview {
        background-color: #abacad;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
    }
    .overview-items{
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    }
    @media (max-width: 576px) {
        .total-summ h4 {
            display: none;
        }
    }
</style>


<div class="container">
    <div class="row overview align-items-center justify-content-center">
        <div class="col-12 col-xl-3 overview-items m-2 p-2">
            <div class="total-summ">
                <h4>Jami tushum</h4>
                <h1>0.00 so'm</h1>
            </div>
        </div>
        <div class="col-12 col-xl-3 overview-items m-2 p-2">
            <div class="total-orders">
                <h4>Jami buyurmalar</h4>
                <h1>0.00 so'm</h1>
            </div>
        </div>
    </div>
</div>

{% endblock content %}