{% extends "kitchen/base.html" %}
{% load uzbek_timesince %}

{% block title %}
Buyurtmalar
{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Faol Buyurtmalar</h1>
    <p class="text-center text-warning">Bu yerda faqat aktiv buyurtmalar ko'rinadi!</p>
    <div class="row justify-content-center">
        <div class="buttons-container">
            <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <button href="" class="btn btn-primary py-2 px-1 mb-2" data-toggle="modal" data-target="#selectTable">Yangi buyurtma <i class="fas fa-plus"></i></button>
            </div>
            <div class="col-md-6 text-center">
                <a href="" class="btn btn-primary py-2 px-1 mb-2">Yangilash<i class="fas fa-sync-alt"></i></a>
            </div>
            </div>
        </div>
        {% for order in orders %}
        <div class="col-md-8 mb-4">
            <div class="card">
                <div class="card-header">
                    Buyurtma Raqami: #{{ order.id }}
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">
                        Stol: <b>{% if order.table %}{% if order.table.name %}{{order.table.name}}{% else %}{{ order.table.number }}{% endif %}{% else %}tanlanmagan{% endif %}</b> <br>
                        Buyurtma Holati: 
                        {% if order.status == "new" %}
                        <span class="badge badge-pill badge-success">Yangi</span>
                        {% elif order.status == "in_progress" %}
                        <span class="badge badge-pill badge-warning">Jarayonda</span>
                        {% elif order.status == "done" %}
                        <span class="badge badge-pill badge-dark">Yakunlandi</span>
                        {% endif %}
                        <br>
                        Buyurtma beruvchi: 
                        {% if order.user %}{{ order.user.full_name }}{% else %}Anonim{% endif %}
                        
                    </h5>
                    <p class="card-text">Buyurtma Vaqti: {{ order.created|date:"H:i | d-m-Y" }}</p>
                    <p class="card-text">Xizmat haqi: {{ order.service_fee }} so'm</p>
                    Buyurtma berildi:
                    <ul class="list-group list-group-light">
                        {% for item in order.foods.all %}
                        <li class="list-group-item px-3"><b>{{ item.food.name }}</b>
                            <p> {{item.price}} x {{ item.quantity }} = {{item.total_price}}</p>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="card-footer text-muted">
                    
                    {% if order.status == "new" %}
                    <form method="post" action="{% url 'orders:change_order_status' %}">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value={{order.id}}>
                        <input type="hidden" name="status" value="in_progress">
                        <button type="submit" class="btn btn-primary">Qabul qilish</button>
                    </form>
                    {% elif order.status == "in_progress" %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Yakunlash
                    </button>
                    
                    <div class="modal fade" tabindex="-1" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Buyurtmani yakunlash</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Buyurtma yakunlashni tasdiqlash
                                </p>
                                <form method="post" action="{% url 'orders:change_order_status' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value={{order.id}}>
                                    <input type="hidden" name="status" value="done">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-subtle" data-bs-dismiss="modal">Bekor qilish</button>
                                    <button type="submit" class="btn btn-primary">Ha</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Hozircha hech qanday buyurtma yo'q</p>
        {% endfor %}
    </div>
</div>




<div class="modal fade" id="selectTable" tabindex="-1" role="dialog" aria-labelledby="selectTableModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectTableModalLabel">Yangi buyurtma yaratish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="table">Stolni tanlang</label>
                        <select class="form-control" id="table" name="table" required>
                            <option value="" selected disabled>Stolni tanlang</option>
                            {% for table in tables %}
                            <option value="{{ table.table_unique_id }}">{% if table.name %}{{table.name}}{% else %}{{ table.number }}{% endif %}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary mt-3 mb-3" type="submit">Keyingisi <i class="fas fa-arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>



{% endblock content %}
