{% extends "main/base.html" %}

{% block title %}
Buyurtma
{% endblock title %}

{% block content %}
<style>
    .card {
        margin: auto;
        width: 320px;
        max-width: 600px;
        border-radius: 20px;
    }

    .mt-50 {
        margin-top: 50px;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

    @media (max-width: 767px) {
        .card {
            width: 80%;
        }
    }

    @media (height: 1366px) {
        .card {
            width: 75%;
        }
    }

    #orderno {
        padding: 1vh 2vh 0;
        font-size: smaller;
    }

    .gap .col-2 {
        background-color: rgb(213, 217, 233);
        width: 1.2rem;
        padding: 1.2rem;
        margin-top: -2.5rem;
        border-radius: 1.2rem;
    }

    .title {
        display: flex;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        padding: 12%;
    }

    .main {
        padding: 0 2rem;
    }

    .main img {
        border-radius: 7px;
    }

    .main p {
        margin-bottom: 0;
        font-size: 0.75rem;
    }

    #sub-title p {
        margin: 1vh 0 2vh 0;
        font-size: 1rem;
    }

    .row-main {
        padding: 1.5vh 0;
        align-items: center;
    }

    hr {
        margin: 1rem -1vh;
        border-top: 1px solid rgb(214, 214, 214);
    }

    .total {
        font-size: 1rem;
    }

    @media (height: 1366px) {
        .main p {
            margin-bottom: 0;
            font-size: 1.2rem;
        }

        .total {
            font-size: 1.5rem;
        }
    }

    .btn {
        background-color: rgb(3, 122, 219);
        border-color: rgb(3, 122, 219);
        color: white;
        margin: 7vh 0;
        border-radius: 7px;
        width: 60%;
        font-size: 0.8rem;
        padding: 0.8rem;
        justify-content: center;
    }

    .btn:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        transition: none;
    }

    .btn:hover {
        color: white;
    }

    .kitchen-info {
        text-align: center;
    }

    .kitchen-image img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
</style>

<div class="card mt-50 mb-50">
    <div class="col d-flex"><span class="text-muted" id="orderno">buyurtma #{{ order.id }}</span></div>
    <div class="gap">
        <div class="col-2 d-flex mx-auto"></div>
    </div>
    <div class="title mx-auto"> Buyurtmangiz uchun rahmat! </div>
    <div class="main">
        <!-- Kitchen Info Section -->
        <div class="row row-main justify-content-center kitchen-info">
            <div class="col-12">
                <div class="kitchen-image">
                    <img src="{{ order.kitchen.image.url }}" class="img-fluid" alt="Kitchen Image">
                </div>
                <div>
                    <p><b>{{ order.kitchen.title }}</b></p>
                </div>
            </div>
        </div>
        <span class="sub-title">
            <p><b>Stol: #{{ order.table.number }}</b></p>
        </span>
        <span id="sub-title">
            <p><b>To'lov tafsilotlari</b></p>
        </span>
        {% for item in order.foods.all %}
        <div class="row row-main">
            <div class="col-3"> <img class="img-fluid" src="{{ item.food.image.url }}"> </div>
            <div class="col-6">
                <div class="row d-flex">
                    <p><b>{{ item.food }}</b></p>
                </div>
                <div class="row d-flex">
                    <p class="text-muted">x{{ item.quantity }}</p>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <p><b>{{ item.total_price }} so'm</b></p>
            </div>
        </div>
        {% endfor %}
        <hr>
        <div class="total">
            <div class="row">
                <div class="col"> <b> Jami:</b> </div>
                <div class="col d-flex justify-content-end"> <b>{{ order.total_price }} so'm</b> </div>
            </div>
            <div class="row">
                <div class="col">  Xizmat haqi:</div>
                <div class="col d-flex justify-content-end">{{ order.service_fee }} so'm</div>
            </div>
            {% if request.user.kitchen.id == order.kitchen.id %}
            <a href="{% url "orders:index" %}" class="btn btn-primary d-flex mx-auto">Buyurtmalar</a>
            {% else %}
            <a href="/"><button class="btn d-flex mx-auto">Bosh sahifa</button></a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
