<!-- Modal for deleting a table -->
<div class="modal fade" id="deleteTableModal" tabindex="-1" aria-labelledby="deleteTableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTableModalLabel">Stolni o'chirish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="needs-validation" novalidate action="{% url "table:delete" %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="table_number" class="form-label">Stollar soni:</label>
                        <input type="number" class="form-control" id="table_number" name="table_count" min="1" value="1" required>
                        <div class="invalid-feedback">
                            Please enter a valid table number.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger mb-3">O'chirish</button>
                </form>
            </div>
        </div>
    </div>
</div>