<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        {% block content %}

        <h1>Departments</h1>
        <ul>
            {% for department in departments %}
                <li>{{ department.dept_name }}</li>
                <li>{{ department.dept_code }}</li>
                <li>{{ department.dept_chief }}</li><br><br>
            {% endfor %}
        </ul>

        <h1>Students</h1>
        <ul>
            {% for student in students %}
                <li>{{ student.student_name }}</li>
                <li>{{ student.student_id }}</li>
                <li>{{ student.student_dept }}</li>
                <li>{{ student.registered_date }}</li><br><br>
            {% endfor %}
        </ul>
        <h1>Tuitions</h1>
        <ul>
            {% for tuition in tuitions %}
                <li>{{ tuition.student_id }}</li>
                <li>{{ tuition.amount }}</li><br><br>
            {% endfor %}
        </ul>

        {% endblock %}
    </div>
</body>
</html>