<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .eror {
      color: red;
    }
  </style>
</head>

<body>
  <nav class="row" style="background: green; color: white;">
    <h1 class="col-md-3 text-center">OB-HAVO</h1>
  </nav>
  <br />
  <br />
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="eror">Xatolik!</h1>
        <h2>Hudud nomi noto`g`ri!</h2>
        <h3><a href="{% url 'index' %}">Bosh sahifa</a></h3>
    </div>
  </div>
</body>

</html>