{% extends 'base.html' %}
{% block title %} Run Test All {% endblock %}
{% block content %}
    <div id="notification" class="notification"></div>
    <h2>This is the run test all page</h2>
    <div class="container">
        <h3>{{ korean_word }}</h3>
        <form id="testForm" method="POST" onsubmit="return checkAnswer();">
            {% csrf_token %}
            {% for option in uzbek_options %}
                <label><input type="radio" name="answer" value="{{ option }}">
                {{ option }}</label>
            {% endfor %}
            <input type="hidden" name="correct_option" value="{{ correct_option }}"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}