{% extends 'base.html' %}
{% block title %} Word List  {% endblock %}

{% block content %}
    <button onclick="topFunction()" id="myBtn" title="Go to top">Go Top</button>

    <h1>Word List</h1>
    <select name="categories" id="id_categories" onchange="jumpToCategory(this.value)">
        <option value selected>---------</option>
        {% for category in categories %}
            <option value="{{category.id}}"> {{category}} </option>
        {% endfor %}
    </select>
    {% for category in categories %}
        <h3 id="{{category.id}}"> {{ category }} </h3>
        <table>
            <tr>
                <th>KO</th>
                <th>UZ</th>
                <th></th>
                <th></th>
            </tr>
            {% for word in words %}
                {% if  word.category == category %}
                <tr>
                    <td>{{ word.word_ko }}</td>
                    <td>{{ word.word_uz }}</td>
                    <td><a href="{% url 'edit_word' word.id %}" class="edit">📝</a></td>
                    <td><a href="{% url 'delete_word' word.id %}" class="delete">🗑</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}